
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lexend Giga", sans-serif; 
  font-optical-sizing: auto; 
  // font-weight: 400; 
  font-style: normal;

  color: #ffffff;
  line-height: 1.6;
}